<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rao Tutorials</title>
    <link rel="stylesheet" type="text/css" href="studentHome.css">
    <link rel="icon" type="image/png" href="/RT logo.png"/>
  </head>
  <body>
    <header>

      <!-- Title -->
      <form action="/">
        <input type="submit" value="Logout" class="button">
      </form>
      <img src="/RT logo with moto.png" class="logo" alt="Logo">
    </header>

    <div class="main">
      <h2 class="welcome">Welcome Student</h2>
      <form action="/ViewStudentInformation">
        <input class="student" type="submit" value="Student Information">
      </form>
      <br>
      <form action="/ViewExamSchedule">
        <input class="exam" type="submit" value="Exam Schedule">
      </form>
      <br>
      <form action="/ViewTimetable">
        <input class="timetable" type="submit" value="Timetable">  
      </form>
    </div>
    <script src="home.js"></script>
    </body>
</html>