<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Rao Tutorials</title>
        <link rel="stylesheet" type="text/css" href="./teacherInformation.css">
        <link rel="icon" type="image/png" href="/RT logo.png"/>
    </head>
    <body>
        <img src="/RT logo.png" class="logo" alt="Logo" width="100px">
        <h2><b>Add Teacher Information</b></h2>
        <br>
        <div class="container">
        <form id="teacher" action="teacherinformation" method="post">
        <label for="teacherid">Teacher Code</label>
        <br>
        <input type="text" id="teachercode" name="teachercode" placeholder="Enter the teacher code..." required>
        <br>
        <label for="teacherName">Full Name</label>
        <br>
        <input type="text" id="teacherName" name="fullname" placeholder="Enter full name..." required>
        <br>
        <label for="subject">Subject Name</label>
        <br>
        <input type="text" id="subname" name="subname" placeholder="Enter subject name..." required>
        <br>
        <label for="contactnumber">Contact Number</label>
        <br>
        <input type="text" id="contact" name="contact" placeholder="Enter the contact number..." required>
        <br>
        <input type="submit" value="Submit" >
        </form>
        </div>
    </body>
</html>