<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./signin.css">
    <title>Rao Tutorials</title>
    <link rel="icon" type="image/png" href="/RT logo.png"/>
</head>
<body>
    <img src="/RT logo.png" class="logo" alt="Logo" width="100px">
    <h2 class="title"><b>Student Sign In</b></h2>
    <div class="container">
        <form id="adminLogin" action="/signup" method="post">
            <label for="adminUsername">Username</label>
            <br>
            <input type="text" id="adminUsername" name="username2" placeholder="Enter Username" required>
            <br>
            <label for="adminPassword">Password</label>
            <br>
            <input type="password" id="adminPassword" name="password2" placeholder="Enter Password" required>
            <br>
            <label for="studentid">Student Id</label>
            <br>
            <input type="number" id="studentid" name="studentid" placeholder="Enter the student id..." required>
            <br>
            <label for="fname">First Name</label>
            <br>
            <input type="text" id="fname" name="firstname" placeholder="First name..." required>
            <br>
            <label for="mname">Middle Name</label>
            <br>
            <input type="text" id="mname" name="middlename" placeholder="Middle name..." required>
            <br>
            <label for="lname">Last Name</label>
            <br>
            <input type="text" id="lname" name="lastname" placeholder="Last name..." required>
            <br>
            <label for="dob">Date of Birth</label>
            <br>
            <input type="date" id="dob" name="dob" required>
            <br>
            <label for="std">Enter Standard</label>
            <br>
            <input type="number" id="std" name="std" placeholder="Enter standard..." required>
            <br>
            <label for="batch">Batch Number</label>
            <br>
            <input type="text" id="batchnum" name="batch" placeholder="Enter batch number..." required>
            <br>
            <label for="contactnumber">Contact Number</label>
            <br>
            <input type="text" id="contact" name="contact" placeholder="Enter the contact number..." required>
            <br>
            <input type="submit" value="Submit">
      </div>
</body>
</html>