<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Rao Tutorials</title>
        <link rel="stylesheet" type="text/css" href="./addStudentInformation.css">
        <link rel="icon" type="image/png" href="/RT logo.png"/>
    </head>
    <body>
        <img src="/RT logo.png" class="logo" alt="Logo" width="100px">
        <h2><b>Add Student Information</b></h2>
        <br>
        <div class="container">
            <form id="student-info" action="./viewStudentInformation.html">
                <label for="studentid">Student Id</label>
                <br>
                <input type="number" id="studentid" name="studentid" placeholder="Enter the student id..." required>
                <br>
                <label for="fname">First Name</label>
                <br>
                <input type="text" id="fname" name="firstname" placeholder="First name..." required>
                <br>
                <label for="mname">Middle Name</label>
                <br>
                <input type="text" id="mname" name="middlename" placeholder="Middle name..." required>
                <br>
                <label for="lname">Last Name</label>
                <br>
                <input type="text" id="lname" name="lastname" placeholder="Last name..." required>
                <br>
                <label for="dob">Date of Birth</label>
                <br>
                <input type="date" id="dob" name="dob" required>
                <br>
                <label for="std">Enter Standard</label>
                <br>
                <input type="number" id="std" name="std" placeholder="Enter standard..." required>
                <br>
                <label for="batch">Batch Number</label>
                <br>
                <input type="text" id="batchnum" name="batch" placeholder="Enter batch number..." required>
                <br>
                <label for="contactnumber">Contact Number</label>
                <br>
                <input type="tel" id="contact" name="contact" placeholder="Enter the contact number..." required>
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>